<header>
   
    Parking ULEAM

  <nav class="menu">
    <ul class="menu-list">
      <li class="menu-list__item"><a routerLink="/ingresar">Ingresar</a></li>
      <li class="menu-list__item"><a routerLink="/inicio">inicio</a></li>
      <li class="menu-list__item"><a routerLink="/disponibilidad">Disponibilidad</a></li>
      <li class="menu-list__item"><a routerLink="/reserva">Reserva</a></li>
      <li class="menu-list__item"><a routerLink="/reporte">Reportes y Consultas</a></li>
      <li class="menu-list__item"><a routerLink="/registro-vehiculo">Registro vehicular</a></li>
    </ul>
  </nav>
</header>
  