<head>
    <title>Control de parqueadero</title>
  </head>
  <body>
    <main class="container">
      <article class="content">
         <h1 class="content__clain">PARKING</h1>
         <h2 class="content__subclain">Visita nuestros servicios</h2>
      </article>
  
  
      <div class="footer-wrapper">
        <footer class="footer">
          <section class="footer__widget">
              <h3 class="footer__widget__title">Ubicación</h3>
              <p class="footer__widget__text">Av. Circunvalación Vía a San Mateo</p>
            </section>
            <section class="footer__widget">
              <h3 class="footer__widget__title">Celular</h3>
              <p class="footer__widget__text">05-2623-740</p>
            </section>
            <section class="footer__widget">
              <h3 class="footer__widget__title">Gmail</h3>
              <p class="footer__widget__text">contacto@uleam.edu.ec</p>
          </section>
        </footer>
      </div>
    </main>
  
  </body>
  


