<head>
    <title>Bienvenidos</title>
</head>
<body>
    <div class="container-form sign-up">
        <div class="welcome-back">
            <div class="message">
                <h2>¡Bienvenidos!</h2>
                <p>¿Ya tienes una cuenta? Por favor, inicia sesión aquí.</p>
                <button type="submit" class="sign-up-btn" (click)="handleSignIn()">Iniciar Sesión</button>
                <br><br>
                <p>¿No tienes cuenta? Registrate  </p>
            </div>
        </div>
         <div class="formulario">
          <form  [formGroup]="formReg" (ngSubmit)="onSubmit()">
            <br><br><br><br><br>
              <h2 class="create-account">Crear una cuenta</h2>
              <input type="text" formControlName="email" placeholder="Correo">
              <input type="password" formControlName="password" placeholder="Contraseña">
              <input type="submit" value ="Registrarse" >
          </form>
        </div>
        </div>
    <div class="container-form sign-in" id="formulario2">
      <div class="formulario">
          <form  [formGroup]="formLogin" (ngSubmit)="onValidar()">
          <br><br><br><br><br>
            <h2 class="create-account">Iniciar sesión</h2>
            <input type="text" formControlName="email" placeholder="Correo">
            <input type="password" formControlName="password" placeholder="Contraseña">
            <input  type="submit" value ="Entrar" >
            <br>
            <button class="btn btn-info" (click)="onClick()">Continuar con Google</button>
        </form>
      </div>
        <div class="welcome-back">
            <div class="message">
                <h2>¡Bienvenidos!</h2>
                <p>Si aún no tienes una cuenta, por favor completa el proceso de registro aquí.</p>
                <button type="submit" class="sign-in-btn" (click)="handleSignUp()">Registrarse</button>
            </div>
        </div>
    </div>

</body>
